<div class="appBody">
<h3>My Motorcycles</h3>
<div class="row">
<hr class="">
<div class="container">
    <div class="row">
    	{{#each model as |motorcycle|}}
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/358x200/EEE" class="">
                <div class="caption">
                	{{#link-to 'motorcycle' motorcycle}}
                     <h4 class="text-yellow">{{motorcycle.year}} {{motorcycle.make}} {{motorcycle.model}}</h4>
                     {{/link-to}}
                    <p class="">{{motorcycle.description}}</p> 
                    {{#link-to "motorcycle.edit" motorcycle}}
                    <div class="btn btn-default btn-xs pull-right" role="button">
                    	<i class="glyphicon glyphicon-edit"></i> Edit</div>  
                    	{{/link-to}}
 {{#ember-remodal forService=true title='Photo Upload' as |m| }}
    {{#m.open}}
      <button type="submit" class="btn btn-default btn-xs" role="button">Add Photos  <i class="fa fa-camera" aria-hidden="true"></i></button>
    {{/m.open}}

<form>
  <div class="form-group">
    <div class="hide">{{model.id}}</div>

  <div class="form-group">
    <label for="photo"></label>
      <div class="form-group">
        <div class="file-input-wrapper">
  <button class="btn btn-warning">Select Photo</button>
        {{file-upload url="" onProgress="fileUploadProgress" onComplete="fileUploadComplete" class="upload" uid=model.id }}</div>
  </div>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{uploadPercentage}}%">
    
  </div>
</div>
</form> 



    <div class="actions">
      {{#m.cancel}}
        <button class="btn btn-danger">Cancel</button>
      {{/m.cancel}}
    </div>
  {{/ember-remodal}}


                </div>
            </div>
        </div>
        {{/each}}
       </div>

</div>

	<div class="pull-right add-bike">
		{{#link-to 'app.addmotorcycle'}}
		<button class="btn btn-warning">Add Motorcycle</button>
		{{/link-to}}
	</div>
	{{!-- row  --}}
</div>
{{!-- appbody --}}
</div>
