{{#if media.isMobile}}
<body class="site mobileloginBG">
<section class="login-form-mobile">
	{{#link-to 'index'}}
	<img src="assets/images/logoyellow.png" class="img-responsive"/>
	{{/link-to}}
          {{#if errors}}
          <h4 class="text-success">{{errors-text errors}}</h4>
    {{else}}
    <h4>Please enter the email address you used to register:</h4>
<form {{action "passwordreset" on="submit"}}>
	  {{input id='resetemail' class="form-control input-lg" placeholder='Email Address'  value=resetemail required=true}}
<button class="btn btn-lg btn-customlogin btn-block" type="submit">Reset Password</button>
</form>
    {{/if}}
{{#link-to 'register' class="pull-left"}}
Need to register?
{{/link-to}}
{{#link-to 'login' class="pull-right"}}
Log In.
{{/link-to}}
</section>
</body>
{{else}}
<body class="site resetBG">
<div class="content">
<section class="login-form">
	{{#link-to 'index'}}
	<img src="assets/images/logoyellow.png" class="img-responsive"/>
	{{/link-to}}
          {{#if errors}}
          <h3 class="text-success">{{errors-text errors}}</h3>
    {{else}}
    <h3>Please enter the email address you used to register:</h3>
<form {{action "passwordreset" on="submit"}}>
	  {{input id='resetemail' class="form-control input-lg" placeholder='Email Address'  value=resetemail required=true}}
<button class="btn btn-lg btn-customlogin btn-block" type="submit">Reset Password</button>
</form>
    {{/if}}
{{#link-to 'register' class="pull-left"}}
Need to register?
{{/link-to}}
{{#link-to 'login' class="pull-right"}}
Log In.
{{/link-to}}
</section>
</div>
</body>
{{/if}}